@font-face {
    font-family: weather;
    src: url(/res/artill_clean_icons.otf);
}

html {
    background-color: #000;
    background: url(/res/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    padding: 50px;
}

h1,
h2 {
    font-weight: normal;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

div#now {
    margin-bottom: 20px;
    overflow: auto;
    position: relative;
    background: rgba(0, 0, 0, 0.85);
    padding: 20px 20px 15px;
}

div#now div.datetime {
    float: left;
}

div#now div.datetime h1.time {
    display: inline-block;
    font-size: 600%;
}

div#now div.datetime h2.date {
    display: inline-block;
    margin-left: 20px;
    font-size: 180%;
}

div#now div.weather_now {
    float: right;
    text-align: right;
}

div#now div.weather_now h1 {
    margin-bottom: 0;
}

div#weather {
    text-align: right;
    position: fixed;
    width: 100%;
    bottom: 50px;
    right: 60px;
}

div#weather ul li {
    margin: 0;
    padding: 0;
    padding: 10px 20px 20px;
    margin-top: 30px;
    background: rgba(0, 0, 0, 0.85);
    float: right;
    clear: right;
}

div#weather ul li.no-1 {
    margin-left: 0;
}

div#weather ul li h1 {
    margin-bottom: 0;
}

div#weather ul li h2 {
    margin-bottom: 0;
}

div#weather ul li h2.forecast {
    color: #ccc;
}

span.icon {
    font-family: weather;
    font-size: 60px;
    line-height: 20px;
}

div#weather span.icon {
    display: inline-block;
}

div#calendar {
    position: fixed;
    bottom: 50px;
    background: rgba(0, 0, 0, 0.85);
    padding: 20px;
}

div#calendar ul li {
    margin-bottom: 5px;
    color: #ccc;
}

div#calendar ul li h2 {
    margin-top: 1em;
}

div#calendar ul li strong {
    width: 5em;
    margin-right: 1em;
    text-align: right;
    display: inline-block;
}
