@font-face {
    font-family: weather;
    src: url(/res/artill_clean_icons.otf);
}

body {
    background-color: #000;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    padding: 50px;
}

h1,
h2 {
    font-weight: normal;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1.time {
    font-size: 600%;
}

div#now {
    float: left;
}

div#weather {
    float: right;
    text-align: right;
}

div#weather ul li {
    margin: 0;
    padding-top: 0;
    padding-bottom: 30px;
}

div#weather ul li h2.forecast {
    font-size: 90%;
    color: #ccc;
}

div#weather span.icon {
    font-family: weather;
    font-size: 200%;
    line-height: 0;
    margin-left: 10px;
}

div#calendar {
    position: fixed;
    width: 100%;
    bottom: 50px;
}

div#calendar ul li {
    margin-bottom: 5px;
    color: #ccc;
}

div#calendar ul li h2 {
    margin-top: 1em;
}

div#calendar ul li strong {
    width: 5em;
    margin-right: 1em;
    text-align: right;
    display: inline-block;
}
