html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    background-size: 100%;
    background-position: center;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    padding: 80px;
    margin: 0;
}

h1,
h2 {
    font-weight: normal;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

div#now {
    overflow: auto;
    position: relative;
    padding: 20px 20px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

div#now div.datetime {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-content: space-between;
}

div#now div.datetime h1.time {
    margin: 0;
    font-size: 700%;
    font-weight: 100;
    letter-spacing: 0px;
}

div#now div.datetime h1.time span {
    display: inline-block;
    font-size: 30%;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 0px;
}

div#now div.datetime h2.date {
    vertical-align: bottom;
    font-size: 180%;
    margin-bottom: 20px;
}

div#calendar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

div#calendar ul {
    padding: 0;
    flex-grow: 1;
    width: 33%;
}

div#calendar ul li {
    font-size: 150%;
    margin: 0;
    padding: 0 20px 10px;
    background: rgba(0, 0, 0, 0.50);
    display: flex;
    align-content: flex-start;
}

div#calendar ul:first-child li {
    margin-right: 20px;
}

div#calendar ul:nth-child(2) li {
    margin: 0 10px;
}

div#calendar ul:last-child li {
    margin-left: 20px;
}

div#calendar ul li.header {
    background: transparent;
    padding: 10px 20px 10px;
}

div#calendar ul li h2 {
    margin: 0;
    padding: 0;
    font-size: 150%;
    font-weight: 300;
}

div#calendar ul li:nth-child(2) {
    padding-top: 30px;
}

div#calendar ul li:last-child {
    padding-bottom: 20px;
}

div#calendar ul li strong {
    font-weight: 300;
    flex-basis: 4em;
    flex-shrink: 0;
    margin-right: 1em;
    text-align: right;
    font-size: 90%;
}

div#calendar ul li > span {
    display: block;
    font-size: 100%;
    font-weight: 300;
}

div#calendar ul li strong span {
    display: inline-block;
    margin-left: 3px;
    text-transform: uppercase;
    font-size: 70%;
    font-weight: 100;
}

div#calendar ul li.past > span {
    text-decoration: line-through;
}

div#calendar ul li.cal-school {
    color: #b8f3e3;
}

div#calendar ul li.cal-bus {
    color: #fff3a3;
}

div#calendar ul li.past {
    color: #aaa !important;
}
